<ng-container *ngIf="loading; then loadingTemplate else loadedTemplate"></ng-container>

<ng-template #loadingTemplate>
	<rune-loader></rune-loader>
</ng-template>

<ng-template #loadedTemplate>
	<ng-container *ngIf="error; else profileTemplate">
		<h1 class="mat-display-1 rune-error">
			<span *ngIf="error === 'PROFILE_PRIVATE'"><mat-icon>lock</mat-icon> This user's profile is set to private.</span>
			<span *ngIf="error === 'NO_PROFILE'"><mat-icon>person_outline</mat-icon> The requested user was not found.</span>
			<span *ngIf="error === 'UNKNOWN_ERROR'"><mat-icon>error_outline</mat-icon> An unknown error has occurred, please try again later.</span>
			<span *ngIf="error === 'NOT_A_MEMBER'"><mat-icon>person_outline</mat-icon> This player is not a member.</span>
		</h1>
	</ng-container>
</ng-template>

<ng-template #profileTemplate>
	<div class="rune-header">
		<img [src]="'https://secure.runescape.com/m=avatar-rs/' + profile.name + '/chat.png'" alt="" />
		<h1 [ngClass]="{ 'mat-display-2': !isMobileSize, 'mat-display-1': isMobileSize }">{{ profile.name }}</h1>

		<div class="rune-favorite" *ngIf="isFavorite !== null">
			<button mat-icon-button matTooltip="Make this player my favorite" *ngIf="!isFavorite; else favoritedTemplate"
					(click)="makeFavorite()">
				<mat-icon>favorite_outline</mat-icon>
			</button>

			<ng-template #favoritedTemplate>
				<button mat-icon-button matTooltip="Remove this player as my favorite" (click)="removeFavorite()">
					<mat-icon>favorite</mat-icon>
				</button>
			</ng-template>
		</div>
	</div>

	<router-outlet></router-outlet>
</ng-template>
