$padding: 48px;
$mobile-padding: 24px;

main {
	padding: (64 + $padding) $padding $padding;

	@media screen and (max-width: 769px) {
		padding: (64 + $mobile-padding) $mobile-padding $mobile-padding;
	}
}
