<div class="rune-landing">
    <div class="rune-landing-container" *ngIf="!loading; else loadingTemplate">
        <div class="rune-landing-header">
            <img src="assets/img/runetrack-nobg.png" alt=""/>
            <h1 class="mat-display-2">RuneTrack</h1>
        </div>

        <form (submit)="search()">
            <mat-form-field appearance="outline">
                <mat-label>Player Name</mat-label>
                <input matInput type="text" maxlength="12" [(ngModel)]="searchUsername"
                       name="rune-search-username-landing" autocomplete="off"/>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Find Player</button>
        </form>
    </div>

    <ng-template #loadingTemplate>
        <rune-loader></rune-loader>
    </ng-template>
</div>
