<footer>
    <div class="rune-disclaimer">RuneTrack.app is not associated with RuneScape or Jagex Ltd</div>

    <div class="rune-versions">
        <div class="rune-version">
            <img src="assets/img/runetrack.svg" alt="RuneTrack" />
            <span>v{{ version }}</span>
        </div>

        <a class="rune-version" href="https://angular.io/" target="_blank">
            <img src="assets/img/angular-white.svg" alt="Angular" />
            <span>v{{ angularVersion }}</span>
        </a>

        <a class="rune-github" href="https://github.com/Kikorono/runetrack-ui" target="_blank">
            <img src="assets/img/github.svg" alt="View RuneTrack on" />
            <span>GitHub</span>
        </a>
    </div>
</footer>
